$color-teal: #00f2eb;
$color-hotPink: #fd41a4;
$color-pink: #fc7aa6;
$color-yellow: #f5d312;
$color-gray: #5b514e;

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
  padding-left: 5%;
  padding-right: 5%;
  width: 100%;
  background: $color-teal;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-around;

  h2 {
    background-color: $color-teal;
    font-size: 48px;
  }

  a {
    text-decoration: none;
    color: $color-hotPink;
    font-weight: 700;
  }

  .wrapNav {
    background-color: $color-teal;
    border: 5px dashed $color-hotPink;
    padding: 0 25px;
    line-height: 60px;
    text-shadow: 2px 2px $color-gray;
  }
}
