$color-teal: #00f2eb;
$color-hotPink: #fd41a4;
$color-pink: #fc7aa6;
$color-yellow: #f5d312;
$color-gray: #5b514e;

.searchFilters {
  margin-bottom: 20px;
  text-align: center;
}

.searchFilters span {
  margin-right: 10px;
}

.searchFilters select {
  margin-right: 10px;
}

.searchFilters form {
  display: inline-block;
}
